CC 		= clang 
CXX     = clang++ 
ARCH    ?= i386
ARCHDIR := arch/$(ARCH)

FLAGS   := -Iinclude -mno-sse -ffreestanding -D__KERNEL__ -D_$(ARCH)_ -D_ARCH_STR=\"$(ARCH)\" -g -O2 -Wall -Wextra -target $(ARCH)-unknown-none-gnu
CFLAGS	:=  $(FLAGS) -std=c11
CPPFLAGS:=  $(FLAGS) -std=c++11 -fno-exceptions -fno-rtti -fno-builtin -nostdlib
LDFLAGS	:= -v -static -nostdlib -z max-page-size=0x1000 -target $(ARCH)-unknown-none-gnu -Wl,--build-id=none
