CC 		= clang 
CXX     = clang++ 
ARCH    ?= i386
ARCHDIR := arch/$(ARCH)

CFLAGS	:= -I$(TOP)kernel/include -D__KERNEL__ -D_$(ARCH)_ -std=c11 -ffreestanding -O2 -Wall -Wextra -g -target $(ARCH)-unknown-none-gnu
CPPFLAGS:= -I$(TOP)kernel/include -D__KERNEL__ -D_$(ARCH)_ -std=c++11 -ffreestanding -O2 -Wall -Wextra -g -target $(ARCH)-unknown-none-gnu
LDFLAGS	:= -v -nostdlib -z max-page-size=0x1000 -target $(ARCH)-unknown-none-gnu -Wl,--build-id=none