CC 		= clang 
CXX     = clang++ 
ARCH    ?= i386
ARCHDIR := arch/$(ARCH)

FLAGS   := -Iinclude -mno-sse -D__KERNEL__ -D_$(ARCH)_ -ffreestanding -g -O2 -Wall -Wextra -target $(ARCH)-unknown-none-gnu
CFLAGS	:=  $(FLAGS) -std=c11  
CPPFLAGS:=  $(FLAGS) -std=c++11 -ffreestanding -fno-exceptions -fno-rtti -fno-builtin -nostdlib
LDFLAGS	:= -v -nostdlib -z max-page-size=0x1000 -target $(ARCH)-unknown-none-gnu -Wl,--build-id=none