X86_SHARED_OBJS := \
$(ARCHDIR)/../x86_shared/multiboot.o \
$(ARCHDIR)/../x86_shared/error.o \
$(ARCHDIR)/../x86_shared/sse.o \
$(ARCHDIR)/../x86_shared/arch.o \
$(ARCHDIR)/../x86_shared/descriptor_tables/gdt.o \
$(ARCHDIR)/../x86_shared/descriptor_tables/idt.o \
$(ARCHDIR)/../x86_shared/drivers/vga.o \
$(ARCHDIR)/../x86_shared/drivers/pic.o \
$(ARCHDIR)/../x86_shared/drivers/timer.o \
$(ARCHDIR)/../x86_shared/drivers/keyboard.o \
$(ARCHDIR)/../x86_shared/mem/paging.o \
$(ARCHDIR)/../x86_shared/mem/pmm.o \
$(ARCHDIR)/../x86_shared/scheduler/lock.o